{% extends 'base.html'  %}
{% block title %}
Market Page
{% endblock %}
{% block content %}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">USERNAME</th>
            <th scope="col">PASSWORD</th>
            <th scope="col">INFO</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for person in persons %}
            <tr>
                <td>{{ person.username }}</td>
                <td>{{ person.password }}</td>
                <td>
                    <button class="btn btn-outline btn-info">More Info</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table> 
{% endblock %} 